<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_salonbelleza_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=Sombra2005; database=salonbelleza;persist security info=true;CharSet=utf8;" />
        <add name="localhost_salonbelleza_Connection 1" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=1234; database=salonbelleza;persist security info=true;CharSet=utf8;" />
        <add name="localhost_salonbelleza_Connection 2" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=; password=; database=salonbelleza;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
</configuration>